{{!-- <div class="card text-center" id="hero">
	<h1 class="display-1 m-0">Reddit Pull</h1>
	<h4 class="text-info">A better way to browse images from reddit</h4>
	<div class="card-body container mt-3 p-0 pb-4 px-4 px-sm-0 mx-auto">
		<div id="input" class="input-group">
			<input id="sub" class="form-control form-control-lg" type="text" placeholder="Subreddit to pull..."/>
			<div class="input-group-append">
				<select  id="sort" class="form-control form-control-lg">
					<option value="hot">Hot</option>
					<option value="new">New</option>
					<option value="top">Top</option>
					<option value="controversial">Controversial</option>
					<option value="rising">Rising</option>
				</select>
				<button id="submit" class="btn btn-primary px-3">Pull</button>
			</div>
		</div>
		<div id="alerts"></div>
	</div>
</div>
<div class="p-2" id="images">
</div> --}}
<div id="app"></div>
